# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# local notes and scratch
*.md
!README.md

# local build logs and helper scripts
*.txt
*.ps1
runs/
releases/
nobgthingwemmbu.png
